body {
    background-color: #f2f2f2;
   }
   .texto{
    position: absolute;
   width: 600px;
   height: 618px;
   left: 941px;
   top: 389px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   } 
   #jinx { 
    position: relative;
    width: auto;
    height: auto;
    left: -6px;
    top: 0px;
   }
   .logo {
    position: absolute;
    width: 188px;
    height: 166px;
    right:0px;
    top: 0px;
   }