body {
    background-color: #f2f2f2;
   }
   .texto{
    position: absolute;
   width: 600px;
   height: 618px;
   left: 941px;
   top: 389px;

   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 29px;
   } 
   #jinx { 
    position: relative;
    width: 900px;
    height: 1288px;
    left: -6px;
    top: 0px;
   }
   .logo {
    position: absolute;
    width: 188px;
    height: 166px;
    right:0px;
    top: 0px;
   }
   .rodape{
    position: absolute;
    width: 1726px;
    height: 79px;
    left: -6px;
    top: 1919px;
    
    background: #BF895A;}

   .mario {
    position: absolute;
    width: 149px;
    height: 150px;
    left: 1397.82px;
    top: 214px;

    background: url(mario);
    transform: rotate(7.21deg);
   } 
   .programadores{
    position: absolute;
    width: 900px;
    height: 927px;
    left: -6px;
    top: 992px;

    background: url(programadores.jpg)
   }